.login-labels {
  font-weight: 600 !important;
  text-align: left;
}
.error-message {
  color: red;
  font-style: italic;
}
.btn-login-left {
  text-align: left;
}
.small-size {
  font-size: 0.8rem !important;
}
